    ion-badge.abierto,
    ion-badge.solicitud.generada {
      padding: 3px 8px !important;
      background-color: color($colors, primary);
      color: white;
      font-weight: 500;
      padding: 2px;
    }

    ion-badge.completado,
    ion-badge.solicitud.en.bodega {
      padding: 3px 8px !important;
      background-color: color($colors, secondary);
      color: white;
      font-weight: 500;
      padding: 2px;
    }

    ion-badge.solicitud.programada {
      padding: 3px 8px !important;
      background-color: color($colors, warning);
      color: white;
      font-weight: 500;
      padding: 2px;
    }

    ion-badge.vencido {
      padding: 3px 8px !important;
      background-color: color($colors, danger);
      color: white;
      font-weight: 500;
      padding: 2px;
    }
