<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ api.trans('literals.orders') }} | Interfaz {{ api.trans('literals.driver') }}</ion-title>
    <ion-buttons end>
      <button icon-only clear ion-button (click)="toNotificaciones()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge>{{api.user?.notificaciones_count}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="query" (ionInput)="filter()" [debounce]="750" [placeholder]="'Buscar Ordenes...'"
      [animated]="true"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="getOrders($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let list of ['past','yesterday','today','tomorrow','week','next']">
    <ion-list *ngIf="orderable[list]?.length > 0">
      <ion-list-header color="light">
        <ion-icon name="timer" item-left color="primary" small></ion-icon>
        {{ trans[list] }}
      </ion-list-header>
      <button ion-item (click)="options(order)" *ngFor="let order of orderable[list]; let i = index">
        <h2>
          <b> # </b>
          {{ order.numero_pedido }}
        </h2>
        <h3 text-capitalize>
          <b> {{api.trans('literals.status')}}: </b>
          <ion-badge [class]="order.estado">
            {{ order.estado }}
          </ion-badge>
        </h3>
        <h4 text-capitalize>
          <b> {{api.trans('literals.type')}}: </b>
          {{ order.tipo }}
        </h4>
        <h4>
          <b>{{'literals.client' | trans }}: </b>
          {{ order.cliente?.nombres }}
        </h4>
        <p>{{order.fecha_entrega | amLocale:'es-us' | amCalendar }}</p>
        <p>
          <b>{{api.trans('literals.delivery address')}}:</b>
          {{order.direccion_destino}}
        </p>
      </button>
    </ion-list>
  </div>
</ion-content>
