page-order {}

.pin-icon-container {
  .pin-icon {
    color: white;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: color($colors, "secondary");
    border: 2px solid white;
    font-size: 18px;
    padding: 4px;
  }
}
