<ion-header>
  <ion-navbar color="primary">
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="getPedidos()" [debounce]="1000" [(ngModel)]="query"></ion-searchbar>

  </ion-toolbar>
</ion-header>
<ion-content class="container">
  <div text-center text-center *ngIf="loading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-list>
    <ion-item-sliding *ngFor="let ped of pedidos; let i=index;">
      <button (click)="selectPedido(ped)" ion-item>
        <h2>{{ped.numero_pedido}}</h2>
        <h3>{{ped.cliente?.full_name}}</h3>
        <h4>{{ ped.fecha_pedido | amDateFormat:'lll' }}</h4>
        <p>
          {{ ped.total | currency:'COP':'symbol-narrow':'1.0-0' }}
        </p>
        <ion-badge item-right [ngClass]="ped.estado">
          {{ped.estado}}
        </ion-badge>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="confirmDelete(ped,i)">
          Borrar
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
