<ion-header>
  <ion-toolbar color="favorite">
    <ion-title>
      <span *ngIf="!order.numero_pedido">
        {{'crud.edit' | trans}} {{'literals.order' | trans}}
      </span>
      <span *ngIf="order.numero_pedido">
        {{'literals.order' | trans }} # {{order.numero_pedido}}
      </span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item>
    <ion-label floating> {{'literals.type' | trans}}</ion-label>
    <ion-select [(ngModel)]="order.tipo">
      <ion-option [value]="tipo" *ngFor="let tipo of tipos"> {{ tipo }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="api.objects['bodegas?scope[byuser]=1']">
    <ion-label floating>{{ 'literals.warehouse' | trans }}</ion-label>
    <ion-select [(ngModel)]="bodega">
      <ion-option [value]="bod" *ngFor="let bod of api.objects['bodegas?scope[byuser]=1']">
        {{ bod.nombre }}
      </ion-option>
    </ion-select>
  </ion-item>

  <item-selector [(ngModel)]="order.cliente_id" [trackBy]="'id'" [resource]="'clientes'" [title]="'full_name_cedula'"
                 [placeholder]="'literals.client' | trans"></item-selector>



  <div style="margin-top:15px">
    <signature [(ngModel)]="signature" [placeholder]="'Firma Bodeguero'" color="primary"></signature>
  </div>

  <div style="margin-top:15px">
    <signature [(ngModel)]="signature2" [placeholder]="'Firma Conductor'" color="primary"></signature>
  </div>

  <ion-item>
    <ion-label> Hacer entrada a Bodega</ion-label>
    <ion-checkbox [(ngModel)]="make_entry"></ion-checkbox>
  </ion-item>


  <!-- Productos -->
  <ion-list no-padding no-margin>
    <ion-list-header>
      {{ 'literals.products' | trans }}
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of order.items; let i = index">
      <button (click)="editItem(item)" ion-item>
        <h2>{{item.name}}</h2>
        <h3 ion-text color="secondary">Cantidad Pedidos: {{item.cantidad_pedidos}}
          {{item.unit?.short}} </h3>
        <span>Declarados por cliente: {{item.cantidad_despachado}} {{item.unit?.short}} </span>
        <span item-right *ngIf="item.cantidad_pedidos != item.cantidad_despachado">
          <span *ngIf="item.cantidad_pedidos > item.cantidad_despachado">+</span>
          {{ item.cantidad_pedidos - item.cantidad_despachado }}
          <small>(
            <span *ngIf="item.cantidad_pedidos > item.cantidad_despachado">+</span>
            <span *ngIf="item.cantidad_pedidos < item.cantidad_despachado">-</span>
            {{ diff(item) | number:'1.2-2'}}%)
          </small>
        </span>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" icon-only (click)="removeItem(i)">
          <ion-icon name="remove"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-fab right>
      <button (click)="addItem()" ion-fab mini>
        <ion-icon name="add" item-left></ion-icon>
      </button>
    </ion-fab>
  </ion-list>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button block color="secondary" [disabled]="!canSave() || loading" (click)="save()">
      Guardar
    </button>
  </ion-toolbar>
</ion-footer>
