<ion-header>
  <ion-navbar color="light">
    <ion-title>{{'storage.transform' | trans }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label floating> {{'literals.reason' | trans }}</ion-label>
    <ion-input ([ngModel])="reason"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row wrap>
      <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
        <button ion-button clear color="primary" style="position:absolute;right:5px;" small mini (click)="addEntry()">
          <ion-icon name="add"></ion-icon>
        </button>
        <h4>{{'storage.entries' | trans}}</h4>
        <ion-row align-items-end *ngFor="let entry of entries;let i =index">
          <ion-col col-6>
            <ion-item>
              <ion-label floating>{{'literals.item' | trans }}</ion-label>
              <ion-select *ngIf="api.objects.items" [(ngModel)]="entry.item_id">
                <ion-option [value]="item.id" *ngFor="let item of api.objects.items">
                  {{item.item }}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item>
              <ion-label floating>{{'literals.item' | trans }}</ion-label>
              <ion-input type="number" [(ngModel)]="entry.quantity"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button icon-only small color="danger" *ngIf="i !== 0" clear (click)="removeEntry(i)">
              <ion-icon name="remove"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
        <button ion-button clear color="primary" style="position:absolute;right:5px;" small mini (click)="addOutput()">
          <ion-icon name="add"></ion-icon>
        </button>
        <h4>{{'storage.outputs' | trans}}</h4>
        <ion-row align-items-end *ngFor="let out of outputs;let i =index">
          <ion-col col-6>
            <ion-item>
              <ion-label floating>{{'literals.item' | trans }}</ion-label>
              <ion-select *ngIf="api.objects.items" [(ngModel)]="out.item_id">
                <ion-option [value]="item.id" *ngFor="let item of api.objects.items">
                  {{item.item }}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item>
              <ion-label floating>{{'literals.item' | trans }}</ion-label>
              <ion-input type="number" [(ngModel)]="out.quantity"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <button ion-button icon-only small color="danger" *ngIf="i !== 0" clear (click)="removeOutput(i)">
              <ion-icon name="remove"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button block color="secondary" (click)="process()" [disabled]="!canProcess()">
      {{'crud.save' | trans }}
    </button>
  </ion-toolbar>
</ion-footer>
